html
    head
        title Customer Page
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        style   
            include ../CSS/style2.css
    body
    div
        nav(class="navbar navbar-expand navbar-light bg-light")
            div(class="container-fluid")
                div(class="navbar-header")
                    ul(class="nav navbar-nav")
                        li(class = "nav-item")
                            a(class="nav-link" href="/customerPage") Home
                        li(class = "nav-item")
                            a(class="nav-link" href="https://aurora.edu/") Aurora University
        h1 Customer Page:
        form(method='post')
            .container
                .row
                    .col
                        button(name='ID' type="submit" class="btn btn-primary" value=ID formaction="/customer/update") Update My Account
                    .col
                        button(name='ID' type="submit" class="btn btn-primary" value=ID formaction="/inactiveToggle") List Me As Inactive/Active
                    .col
                        button(type="button" class="btn btn-primary" onclick="window.location.href='/feedback'") Post Feedback for Last Meeting
                    .col
                        button(name='ID' type="submit" class="btn btn-primary" value=ID formaction="/meetingHistory") View My Meeting History
                .row
                    .col
                .row
                    .col
                .row
                    .col
                        button(name='ID' type="submit" class="btn btn-primary" value=ID formaction="/customer/delete") Delete My Account (does it need a confirmation page?)
                    .col
                        button(type="submit" class="btn btn-primary" onclick="window.location.href='/logout'") Logout
                    .col
                        button(name='ID' type="button" class="btn btn-primary" value=ID formaction="/update/password") Update Password
