html
    head
        title AULF4
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        style   
            include ../CSS/style2.css
    body
    div
    
        h1 AU Lunch For 4
        
        form(action='/formaction', method='post')
            .container
                .row
                    .col-2
                        label(for='fName') First Name:
                    .col-2
                        input(name='fName' value="")
                    .col
                        if(messages.fName)
                            p #{messages.fName}
                .row
                    .col-2
                        label(for='lName') Last Name:
                    .col-2
                        input(name="lName" value="")
                    .col
                        if(messages.lName)
                            p #{messages.lName}
                .row
                    .col-2
                        label(for='ID') ID:
                    .col-2
                        input(name='ID' value="")
                    .col
                        if(messages.ID)
                            p #{messages.ID}
                .row
                    .col-2
                        label(for='Email') Email:
                    .col-2
                        input(type='email' name='Email' value="")
                    .col
                        if(messages.Email)
                            p #{messages.Email}
                .row
                    .col-2
                        label(for='Password') Password:
                    .col-2
                        input(type='password' name='password' value="")
                    .col
                        if(messages.password)
                            p #{messages.password}
                .row
                    .col-2 
                        label(for='Role') Role:
                    .col-2
                        select(name='Role' id="role")
                            option(value="STA") Staff
                            option(value="FAC") Faculty
                    .col
                        if(messages.Role)
                            p #{messages.Role}
                .row
                    .col-2 
                        label(for='Dept') Department:
                    .col-2
                        select(name='Dept' id="dept")
                            option(value="MTH") Math
                            option(value="BIO") Biology
                            option(value="CSC") Computer Science
                            option(value="HIS") History
                    .col
                        if(messages.Dept)
                            p #{messages.Dept}
                .row
                    .col-2 
                        button(type="submit" class="btn btn-primary") Submit
                    .col-2
                        button(type="reset" class="btn btn-primary") Reset
                    .col-2
                        button(type="button" class="btn btn-primary" onclick="history.back()") Back
