html
    head
        title AULF4
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        style   
            include ../CSS/style2.css
    body
    div
        nav(class="navbar navbar-expand navbar-light bg-light")
            div(class="container-fluid")
                div(class="navbar-header")
                    ul(class="nav navbar-nav")
                        li(class = "nav-item")
                            a(class="nav-link" href="/adminPage") Home Admin
                        li(class = "nav-item")
                            a(class="nav-link" href="https://aurora.edu/") Aurora University
        h1 AU Lunch For 4
        .container
            .row
                .col
                    form(action='/newMeeting', method='post')
                        button(type='submit' class='btn btn-primary') Create New Meeting
        h1 List of Meetings
        .container
            .row 
                .col
                    table(style='width:100%', border='1', class="table center",)
                        tr 
                        th Meet Date
                        th Meeting ID
                        th Meeting Leader
                        th Member 2
                        th Member 3
                        th Member 4
                        th Member 5
                        each item in items
                            tr
                                td=item.meetDate
                                td=item.meetingID
                                td=item.meetingLeader
                                td=item.member2
                                td=item.member3
                                td=item.member4
                                td=item.member5